body {
    font-family: sans-serif;
    background-color: #444;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btnInfo {
    font-size: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px 60px;
    background-color: #555;
    border: 3px solid #999;
    color: #fff;
}

#btnInfo:hover {
    box-shadow: 0 0 10px #999;
}

.info {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #555;
    border-radius: 8px;
}