body {
    background-color: #333;
    color: #aaa;
    font-family: sans-serif;
}

.materias {
    width: 90%;
    background-color: #aaa;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    padding: 20px;
}

.materia {
    padding: 20px;
    background-color: #555;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nombre {
    margin: 0;
    flex-grow: 1;
}

.nota {
    margin: 0;
    flex-basis: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}